.venv/**
model_files/**
vocab.txt
vocab_txt.h
model_offsets.h

transcribe
transcribe_cuda
**/*.o

test_files/jeff.txt
test_files/jeff.webm
test_files/jeff.en.vtt
test_files/jeff_cpu.txt
test_files/jeff_gpu.txt
test_files/jeff_iron.txt

tests/*.bin
tests/compare_floats
tests/test_kernels_cpu
tests/test_kernels_cuda
